*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(27, 27, 27);
}

.page-grid{
    height: 250vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr .45fr 1.1fr auto;
    grid-template-areas: 
    "nav nav nav"
    "content-landing-welcome img-landing-welcome img-landing-welcome"
    "ux ui code"
    "content-landing-about img-landing-about img-landing-about"
    "footer footer footer";
}

/*<-------- NAV -------------------------------------------------------->*/
/*<-------- NAV -------------------------------------------------------->*/

nav{
    grid-area: nav;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 30px 20px 30px;
    position: fixed;
    z-index: 10;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 460px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 0px -12px 0px;
    height: 35px;
}

.nav-link{
    height:38px;
    display: flex;
    margin: 3px 0px 0px 0px;
    align-items: center;
}

.active-nav-link-border{
    border-bottom: rgb(163, 103, 25);
    border-bottom-style: solid;
    margin: 3px 0px 0px 0px;
    padding: 5px 0px 2px 0px;
    border-bottom-width: 3px;
}

.active-nav-link-underline{
    color: rgb(209, 200, 187);
}

nav a{
    font-family: monospace;
    color: rgb(184, 176, 166);
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover{
    font-family: monospace;
    color: rgb(209, 200, 187);
    cursor: pointer;
}

.contact-us-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width:120px;
    border-radius: 5px;
    font-family: monospace;
    background-color: rgb(221, 92, 0);
    color: black;
    font-size: 1rem;
}

.contact-us-btn:hover{
    background-color: rgb(243, 101, 0);
    cursor: pointer;
}

.mobile-nav{
    display: none;
}


/*--------- LANDING -WELCOME ---------------------------------------------------*/
/*--------- LANDING -WELCOME --------------------------------------------------*/


.content-landing-welcome{
    grid-area: content-landing-welcome;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 30px;
    background-color: rgb(204, 197, 175);
    justify-content: center;
    align-items: left;
    height: 100%;
}

.lrg-title-text-landing{
    font-size: 3.3rem;
}

.sml-title-text-landing{
    margin-top: 40px;
    line-height: 2;
}

.more-button-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 240px;
    background-color: black;
    color: rgb(238, 234, 220);
    font-size: 1.2rem;
    font-family: monospace;
    margin-top: 40px;
    padding: 15px;
    text-decoration: none;
}

.more-button-landing:hover{
    background-color: rgb(24, 24, 24);
}

.img-landing-welcome{
    grid-area: img-landing-welcome;
    background-image: url(images/shot-tower-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 40% 50%;
    filter: grayscale(100%) contrast(120%) brightness(95%);
}


@media only screen and (max-width: 1100px) {

    .lrg-title-text-landing{
        font-size: 2.8rem;
        line-height: 1.4;
    }

    .sml-title-text-landing{
        margin-top: 30px;
        line-height: 1.5;
    }

    .more-button-landing{
        min-width: 240px;
        margin-top: 40px;
    }

    .img-landing-welcome{
        background-position: 40% 50%;
    }

}


@media only screen and (max-width: 866px) {

.page-grid{
    height: 280vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 2fr 1.5fr .7fr 2fr 1.5fr auto;
    grid-template-areas: 
    "nav nav nav"
    "img-landing-welcome img-landing-welcome img-landing-welcome"
    "content-landing-welcome content-landing-welcome content-landing-welcome"
    "ux ui code"
    "img-landing-about img-landing-about img-landing-about"
    "content-landing-about content-landing-about content-landing-about"
    "footer footer footer";
}

    .content-landing-welcome{
        grid-area: content-landing-welcome;
        display: flex;
        padding: 40px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lrg-title-text-landing{
        text-align: center;
        font-size: 3.3rem;
        line-height: 1.4;
        width: 90%;
        padding: 0 0 30px 0;
    }
    
    .sml-title-text-landing{
        text-align: center;
        margin-top: 20px;
        line-height: 1.8;
    }
    
    .more-button-landing{
        width: 90%;
        margin-top: 40px;
        max-width: 240px;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 430px;
        justify-content: space-between;
        align-items: center;
    }
}
    
@media only screen and (max-width: 756px) {
    nav {
        display: none;
    }

    .mobile-nav{
        display: flex;
    }

    .mobile-nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        min-width: 330px;
        justify-content: space-between;
        align-items: center;
    }

}

@media only screen and (max-width: 652px) {

    .content-landing-welcome{
        grid-area: content-landing-welcome;
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .lrg-title-text-landing{
        text-align: center;
        font-size: 2.6rem;
        line-height: 1.4;
        width: 90%;
    }
    
    .sml-title-text-landing{
        text-align: center;
        margin-top: 20px;
        line-height: 1.8;
    }
    
    .more-button-landing{
        min-width: 40%;
        margin-top: 40px;
        max-width: 240px;
    }
        
}


/*--------- UX UI CODE BOXES ----------------------------------------------*/
/*--------- UX UI CODE BOXES ----------------------------------------------*/

.box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3.9rem;
    font-family: monospace;
    text-transform: uppercase;
}

.ux{
    grid-area: ux;
    background-color: rgb(155, 89, 8);
    color: #4e1f00cc;
}

.ui{
    grid-area: ui;
    background-color: rgb(143, 133, 110);
    color: rgba(27, 27, 27, 0.8);
}

.code{
    grid-area: code;
    background-color: rgb(201, 176, 95);
    color: rgba(146, 107, 0, 0.8);
}

.ux:hover{
    background-color: rgb(129, 72, 2);
}

.ui:hover{
    background-color: rgb(102, 95, 77);
}

.code:hover{
    background-color: rgb(180, 156, 76);
}



@media only screen and (max-width: 1012px) {

    .box{
        font-size: 3.3rem;
    }
}

@media only screen and (max-width: 652px) {
    
    .page-grid{
        height: 360vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1.2fr 1.2fr .7fr .7fr .7fr 1.2fr 1.2fr;
        grid-template-areas: 
        "nav"
        "img-landing-welcome"
        "content-landing-welcome"
        "ux"
        "ui"
        "code"
        "img-landing-about"
        "content-landing-about";
    }

    .box{
        font-size: 3rem;
    }

}


/*--------- LANDING -ABOUT ------------------------------------------------------*/
/*--------- LANDING -ABOUT ------------------------------------------------------*/

.content-landing-about{
    grid-area: content-landing-about;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 30px;
    background-color:rgb(204, 197, 175);
    justify-content: center;
    align-items: left;
    height: 100%;
}

.img-landing-about{
    grid-area: img-landing-about;
    background-image: url(images/flinders-station-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 60% 50%;
    filter: grayscale(100%) contrast(115%) brightness(90%);
}


@media only screen and (max-width: 1012px) {

    .img-landing-about{
        background-position: 70% 40%;
    }

}

@media only screen and (max-width: 866px) {

    .content-landing-about{
        grid-area: content-landing-about;
        display: flex;
        padding: 40px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img-landing-about{
        background-position: 90% 0%;
    }

}


@media only screen and (max-width: 652px) {

    .img-landing-about{
        background-size: cover;
        background-position: 60% 0%;
    }

}


/*--------- FOOTER ------------------------------------------------------*/
/*--------- FOOTER ------------------------------------------------------*/

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(92, 89, 84);
    padding: 15px 40px 15px 40px;
}

.contents li:hover{
    cursor: pointer;
    color: rgb(117, 114, 108);
}

.contents {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.contents li{
    padding: 0px 50px 0px 0px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 0px 0px 40px;
    list-style: none;    
    align-items: center;
}

.copyright li{
    padding: 0px 0px 0px 0px;
}

.contents li, .copyright li{
    font-size: .7rem;
    font-weight: 600px;
    letter-spacing: .7px;
}


@media only screen and (max-width: 866px) {

    .page-grid{
        height: 460vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1.2fr 1.2fr .7fr .7fr .7fr 1.2fr 1.2fr 1.4fr;
        grid-template-areas: 
        "nav"
        "img-landing-welcome"
        "content-landing-welcome"
        "ux"
        "ui"
        "code"
        "img-landing-about"
        "content-landing-about"
        "footer";
    }

    
    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 90px 40px 40px 40px;
    }

    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        height: 75%;
    }

    .contents li{
        padding: 0px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 25%;
        padding: 0px 0px 0px 0px;
    }

}


/*--------- ABOUT-US PAGE ------------------------------------------------------*/
/*--------- ABOUT-US PAGE ------------------------------------------------------*/
/*--------- ABOUT-US PAGE ------------------------------------------------------*/


.page-grid-about-us{
    height: 105vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1.2fr auto;
    grid-template-areas: 
    "nav nav nav"
    "content-landing-about-us img-landing-about-us img-landing-about-us"
    "footer footer footer";
}

.content-landing-about-us{
    grid-area: content-landing-about-us;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 30px;
    background-color:rgb(204, 197, 175);
    justify-content: center;
    align-items: left;
    height: 100%;
}

.img-landing-about-us{
    grid-area: img-landing-about-us;
    background-image: url(images/melbourne-alley-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 40% 10%;
    filter: grayscale(100%) contrast(100%) brightness(95%);
}

@media only screen and (max-width: 866px) {

    .page-grid-about-us{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-about-us"
        "content-landing-about-us"
        "footer";
    }

    .content-landing-about-us{
        grid-area: content-landing-about-us;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .img-landing-about-us{
        height: 70vh;
        grid-area: img-landing-about-us;
        background-image: url(images/melbourne-alley-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 40% 10%;
        filter: grayscale(100%) contrast(100%) brightness(95%);
    }

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 480px;
    padding: 50px 10px 20px 10px;
}

.contents a{
    text-decoration: none;
    color: rgb(92, 89, 84);
}

.contents ul{
    height: auto;
}


}

/*--------- WHAT-WE-DO PAGE ------------------------------------------------------*/
/*--------- WHAT-WE-DO PAGE ------------------------------------------------------*/
/*--------- WHAT-WE-DO PAGE ------------------------------------------------------*/

.page-grid-what-we-do{
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1.2fr auto;
    grid-template-areas: 
    "nav nav nav"
    "content-landing-about-us img-landing-what-we-do img-landing-what-we-do"
    "footer footer footer";
}

.img-landing-what-we-do{
    grid-area: img-landing-what-we-do;
    background-image: url(images/state-libaray-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 50% 90%;
    filter: grayscale(100%) contrast(95%) brightness(100%);
}

@media only screen and (max-width: 866px) {

    .page-grid-what-we-do{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-what-we-do"
        "content-landing-about-us"
        "footer";
    }

    .content-landing-about-us{
        grid-area: content-landing-about-us;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .img-landing-what-we-do{
        height: 70vh;
        grid-area: img-landing-what-we-do;
        background-image: url(images/state-libaray-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 40% 10%;
        filter: grayscale(100%) contrast(100%) brightness(95%);
    }


}

/*--------- CONTACT-US PAGE ------------------------------------------------------*/
/*--------- CONTACT-US PAGE ------------------------------------------------------*/
/*--------- CONTACT-US PAGE ------------------------------------------------------*/

.page-grid-contact-us{
    height: 110vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1.2fr auto;
    grid-template-areas: 
    "nav nav nav"
    "content-landing-contact-us img-landing-contact-us img-landing-contact-us"
    "footer footer footer";
}

.content-landing-contact-us{
    grid-area: content-landing-contact-us;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 30px;
    background-color:rgb(204, 197, 175);
    justify-content: center;
    align-items: left;
    height: 100%;
}

.img-landing-contact-us{
    grid-area: img-landing-contact-us;
    background-image: url(images/acdc-wall-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(100%) contrast(115%) brightness(100%);
}

.more-button-box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.more-button-box a{
    color: rgb(238, 234, 220);
}

.reduce-margin{
    margin-top: 0px;
    width: 200px;
}

.twitter{
    height: 13px;
    padding-right: 8px;
}

.facebook{
    height: 14px;
    padding-right: 8px;
}

.email{
    height: 13px;
    padding-right: 12px;
}

@media only screen and (max-width: 866px) {

    .page-grid-contact-us{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-contact-us"
        "content-landing-contact-us"
        "footer";
    }

    .content-landing-contact-us{
        grid-area: content-landing-contact-us;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .img-landing-contact-us{
        height: 70vh;
        grid-area: img-landing-contact-us;
        background-image: url(images/state-libaray-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 40% 10%;
        filter: grayscale(100%) contrast(100%) brightness(95%);
    }


}


@media only screen and (max-width: 424px) {

    .logo {
        display: flex;
        align-items: center;
        margin: 5px 0px 0px 0px;
        height: 35px;
    }
    
    .page-grid{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-welcome"
        "content-landing-welcome"
        "ux" 
        "ui"
        "code"
        "img-landing-about"
        "content-landing-about"
        "footer";
    }
            
    .nav-link{
        display: none;
    }
    
    nav ul{
        display: none;
    }
    
    nav{
        display: none;
    }
    
    .mobile-nav{
        grid-area: nav;
        display: flex;
        background-color: rgb(36, 36, 36);
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    
    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        width: auto;
        min-width: fit-content;
        justify-content: center;
        align-items: center;
    }
    
    .contact-us-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width:fit-content;
        margin: 12px 0px 0px 0px;
        padding: 8px 9px 8px 9px;
        border-radius: 5px;
        font-family: monospace;
        background-color: rgb(221, 92, 0);
        color: black;
        font-size: .9rem;
    }
    
    .img-landing-welcome{
        height: 70vh;
        grid-area: img-landing-welcome;
        background-image: url(images/shot-tower-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 55% 50%;
        filter: grayscale(100%) contrast(120%) brightness(95%);
    }
    
    .box{
        display: flex;
        height: 40vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3.9rem;
        font-family: monospace;
        text-transform: uppercase;
    }

    .more-button-landing{
        display: flex;
        justify-content: center;
        align-items: center;
        height:40px;
        min-width: fit-content;
        width: fit-content;
        padding: 5px 8px 5px 8px;
        background-color: black;
        color: rgb(238, 234, 220);
        font-size: 1rem;
        font-family: monospace;
        margin-top: 40px;
        padding: 15px;
        text-decoration: none;
    }
    
    .content-landing-welcome{
        grid-area: content-landing-welcome;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .img-landing-about{
        grid-area: img-landing-about;
        background-image: url(images/flinders-station-copyright-zapstack.jpg);
        background-size: cover;
        height:70vh;
        background-position: 60% 50%;
        filter: grayscale(100%) contrast(115%) brightness(90%);
    }

    .content-landing-about{
        grid-area: content-landing-about;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .lrg-title-text-landing{
        text-align: center;
        font-size: 2.2rem;
        line-height: 1.4;
        width: 90%;
    }
    
/*--------- FOOTER MOBILE ------------------------------------------------------*/

    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 480px;
        padding: 50px 10px 20px 10px;
    }

    .contents a{
        text-decoration: none;
        color: rgb(92, 89, 84);
    }

    .contents ul{
        height: auto;
    }

 
/*--------- ABOUT-US MOBILE ------------------------------------------------------*/


    .page-grid-about-us{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-about-us"
        "content-landing-about-us"
        "footer";
    }

    .content-landing-about-us{
        grid-area: content-landing-about-us;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        background-color:rgb(204, 197, 175);
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    
    .img-landing-about-us{
        height: 70vh;
        grid-area: img-landing-about-us;
        background-image: url(images/melbourne-alley-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 40% 10%;
        filter: grayscale(100%) contrast(100%) brightness(95%);
    }

    
    
    

    /*--------- WHAT-WE-DO MOBILE ------------------------------------------------------*/

    .page-grid-what-we-do{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "nav"
        "img-landing-what-we-do"
        "content-landing-about-us"
        "footer";
    }


    .img-landing-what-we-do{
        height: 70vh;
        grid-area: img-landing-what-we-do;
        background-image: url(images/state-libaray-copyright-zapstack.jpg);
        background-size: cover;
        background-position: 50% 90%;
        filter: grayscale(100%) contrast(95%) brightness(100%);
    }


/*--------- CONTACT US MOBILE ------------------------------------------------------*/

.page-grid-contact-us{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "nav"
    "img-landing-contact-us"
    "content-landing-contact-us"
    "footer";
}

.content-landing-contact-us{
    grid-area: content-landing-contact-us;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    background-color:rgb(204, 197, 175);
    justify-content: center;
    align-items: center;
    height: auto;
}


.img-landing-contact-us{
    height: 70vh;
    grid-area: img-landing-contact-us;
    background-image: url(images/acdc-wall-copyright-zapstack.jpg);
    background-size: cover;
    background-position: 50% 90%;
    filter: grayscale(100%) contrast(95%) brightness(100%);
}


.more-button-box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 50px 0;
}

.more-button-box a{
    color: rgb(238, 234, 220);
    margin: 12px 0;
}


    
    
}
    